﻿body
{
    color: #000000;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}
.error_content
{
    width: 560px;
    margin: 50px auto;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 50px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 5px 50px rgba(0,0,0,0.5);
    box-shadow: 0 5px 50px rgba(0,0,0,0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}
.error_header
{
    padding: 0 36px;
    height: 54px;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    background-color: #242425;
}
.error_header h1
{
    font-size: 24px;
    color: #efeff0;
    line-height: 54px !important;
    margin: 0;
    padding: 0;
    border: 0;
}
.error_msg
{
    width: 500px;
    margin: 20px auto;
}
.error_detail
{
    margin: 20px auto;
    height: 200px;
    overflow: auto;
    border: 1px dashed #efeff0;
    padding: 20px;
}
.error_footer
{
    padding: 18px 36px;
    margin-bottom: 0;
    text-align: right;
    background-color: #efeff0;
    -webkit-border-radius: 0 0 2px 2px;
    -moz-border-radius: 0 0 2px 2px;
    border-radius: 0 0 2px 2px;
}
