﻿/*body
{
    color: #000000;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 14px;
    margin: 0;
}
.login_content
{
    width: 440px;
    margin: 100px auto;
    background-color: #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 5px 50px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 5px 50px rgba(0,0,0,0.5);
    box-shadow: 0 5px 50px rgba(0,0,0,0.5);
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding-box;
    background-clip: padding-box;
}
.login_header
{
    padding: 0 36px;
    height: 54px;
    -webkit-border-radius: 2px 2px 0 0;
    -moz-border-radius: 2px 2px 0 0;
    border-radius: 2px 2px 0 0;
    background-color: #77202E;
}
.login_header h1
{
    font-size: 24px;
    color: #fff;
    line-height: 54px !important;
    margin: 0;
    padding: 0;
    border: 0;
}
.login_msg
{
    width: 360px;
    padding-left:40px;
    padding-top:20px;
    padding-bottom:20px;
}

.texto_login
{
    color: #000;
    display: block;
    font-size: 12px;
    font-weight: bold;
    margin: 0 0 5px 0;
    padding: 0 0 0 3px;
}
.txt_login
{
    background: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 3px;
    font-size: 11px;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    padding: 5px 3px;
    margin: 0 0 12px 0;
}
.btn_login
{
    background: #F3F3F3 url(../images/i_ok.png) no-repeat 4px center;
    padding-left: 25px;
    border: 1px solid #DCDCDC;
    border-radius: 2px;
    color: #444444;
    cursor: pointer;
    font: 700 11px Tahoma, Arial, sans-serif;
    padding: 7px 12px 7px 12px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #FFFFFF;
    text-align: right;
}*/

/*INICIA LOGIN*/
/*LOGIN NUEVO*/
.login_left {
    background-image: url(../images/Image1_01.png);
    background-repeat: no-repeat;
    height: 730px;
    width: 865px;
    margin: 0 0 12px 0;
}
/*.login_top
{
    background-image: url(../images/Graphic1_02.png);
    background-repeat: no-repeat;
    width: 268px;
    height: 116px;
}
.login_middle
{
    background-image: url(../images/Graphic1_03.png);
    background-repeat: no-repeat;
    width: 268px;
    height: 72px;
}*/
.txtControlLogin
{
    font-family: Verdana;
    font-size: 10px;
    color: black;
    font-weight: bold;
}

/*.login_bott
{
    background-image: url(../images/Graphic1_04.png);
    background-repeat: no-repeat;
    width: 268px;
    height: 126px;
}*/
/*TERMINA LOGIN*/